.new-flight {
  background-color: rgb(28, 86, 153);
  padding: 1rem;
  margin: 2rem auto;
  width: 50rem;
  max-width: 95%;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
}

.new-flight button {
  font: inherit;
  cursor: pointer;
  padding: 1rem 2rem;
  border: 1px solid #02013a;
  background-color: #0e005d;
  color: white;
  border-radius: 12px;
  margin-right: 1rem;
}

.new-flight button:hover,
.new-flight button:active {
  background-color: #033d74;
  border-color: #000000;
}

.new-flight button.alternative {
  color: #ebebeb;
  border-color: transparent;
  background-color: transparent;
}

.new-flight button.alternative:hover,
.new-flight button.alternative:active {
  background-color: #ddb3f8;
}
